body {
}

h1 {
    font-family: 'Segoe UI'
}

#welcomeDialog p {
    margin-bottom: 0;
    font-size: medium;
}

.folder-icon, .file-icon {
    margin-right: 5px;
    font-size: 16px; /* Adjust the size as needed */
}

.directory, .directory li {
    margin-left: 20px;
    margin-top: 10px;
    list-style-type: none;
}

#directory-contents {
    padding: 30px;
    border: 1px solid grey;
    border-radius: 5px;
}

.breadcrumbNav {
    height: 40px;
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
}

    .breadcrumbNavList {
        list-style: none !important;
    }

        .breadcrumbNavList li {
            display: inline;
            margin: 15px;
            list-style: none !important;
        }

.subdirectory-item:hover {
    cursor: pointer;
    opacity: .7;
    background-color: #F0F0F0
}

.file-item:hover {
    cursor: pointer;
    opacity: .7;
    background-color: #F0F0F0
}